##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
new_list=[]
new_list

[]

2. > Create a variable containing your name (Points : 5)

In [ ]:
first_name="Sela"
last_name="Milenia"
full_name=first_name+" "+last_name
print(full_name)
print(full_name.upper())
print(full_name.lower())

Sela Milenia
SELA MILENIA
sela milenia

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
new_list=['book','pen','computer','table','chair']
new_list

['book', 'pen', 'computer', 'table', 'chair']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
Nama=["Angel","Bagus"]
Umur=[19,23]
print(Nama)
print(Umur)

['Angel', 'Bagus']
[19, 23]

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
price=12000
quantity_sold=20
discount=90/100
total_money=price*quantity_sold*discount
print(total_money)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)
countries=['Jepang','India','Indonesia','Thailand','Albania','Spanyol','Malaysia']
countries

['Jepang', 'India', 'Indonesia', 'Thailand', 'Albania', 'Spanyol', 'Malaysia']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)
countries[:4]

['Jepang', 'India', 'Indonesia', 'Thailand']

In [ ]:
# Append new country to the list (Points : 5)
countries.append('Korea Selatan')
countries

['Jepang',
 'India',
 'Indonesia',
 'Thailand',
 'Albania',
 'Spanyol',
 'Malaysia',
 'Korea Selatan']

In [ ]:
# Drop one country from the list (Points : 5)
countries.remove('Malaysia')
countries

['Jepang',
 'India',
 'Indonesia',
 'Thailand',
 'Albania',
 'Spanyol',
 'Korea Selatan']

In [ ]:
countries[4]

'Albania'

In [ ]:
# Get country in the last index (Points : 5)
countries[6]

'Korea Selatan'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)
dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
for x in customer:
  print(x)

name
age
gender
membership

In [ ]:
# Print all customer names (Points : 5)
customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)
customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)
customer["age"]

[20, 19, 24, 39]

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female

In [ ]:
customer["gender"]

[1, 0, 0, 1]

In [ ]:
gen=[]
for i in customer["gender"]:
  if i == 0:
    gen.append('Female')
  else:
    gen.append('Male')

customer.update({"gender": gen})
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'age': [20, 19, 24, 39], 'gender': ['Male', 'Female', 'Female', 'Male'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}